@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../(home)/nav.scss";
@import "../components/STKAudioPlayer/style.scss";
@import "../components/STKRecordAudio/style.scss";

body {
  background-color: #fffcef !important;
}

.dec {
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

a[role='button'] {
  color: inherit;
  text-decoration: none;
}

.raised-btn {
  border: none;
  border-radius: 15px;
  font-family: inherit;
  font-size: inherit;
  padding: 0.7em 1em;
  background-color: #96ea8f;
  box-shadow: 0 5px 0 #6bc563;
  font-weight: 500;
}

.raised-btn:active {
  transform: translateY(5px);
  box-shadow: none;
}

.raised-btn.active {
  background-color: #e3fde0;
  color: black;
  box-shadow: 0 0 0 2px #6bc563;
}

.select-btn {
  border: none;
  border-radius: 15px;
  font-family: inherit;
  font-size: inherit;
  padding: 0.7em 1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: #faf5e3;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 2px #eee7ce;
}

.select-btn.active {
  background-color: #f4dc82;
  color: black;
  box-shadow: 0 0 0 2px #dcbe54;
}

.profile-btn {
  background-color: transparent;
  width: fit-content;
  padding: 0;
  border-radius: 50%;
  height: fit-content;
  border: none;
  cursor: pointer;
}

.profile-btn:hover {
  box-shadow: 0 0 0 2px var(--gray-8);
}

.auth-container,
.auth-container * {
  font-family: inherit !important;
  font-weight: 500;
}

.story-card {
  background: rgba(255, 255, 255, 0.3) !important;
  transition: 0.2s all;
}

.story-card:hover {
  background: rgba(255, 255, 255, 0.6) !important;
}

.story-card::after {
  box-shadow: inset 0 0 0 2px var(--accent-4) !important;
  transition: 0.1s all;
}

.story-card:hover::after {
  box-shadow: inset 0 0 0 2px var(--accent-6) !important;
}

.story-card.selected::after {
  box-shadow: inset 0 0 0 2px var(--gray-11) !important;
}

.story-card.selected {
  transform: translateX(3px);
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.audio-recorder {
  border: none;
  width: fit-content !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.audio-recorder > *:not(.audio-recorder-visualizer) {
  display: none;
}

.audio-recorder-visualizer {
  margin-left: 0 !important;
  width: 200px;
}

.rec-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--tomato-9);
  animation: blinker 1.5s step-start infinite;
}

.rec-indicator.paused {
  animation: none;
  background: var(--gray-5);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.preview-container > div {
  width: 100% !important;
  background: var(--gray-3) !important;
}

.preview-container img {
  width: 16px !important;
  height: 16px !important;
}
